@{
    ViewData["Title"] = "Home Page";
}

@* Strona główna kontrolera Home *@

<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Panel sklepu internetowego</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div>
        <p>
            Strona jest panelem sklepu z laptopami, którego kliencka strona była implementowana w zadaniu domowym 4.
            <br />
            Kody kontrolerów laptopów i zamówień powstały dzięki dodaniu kontrolera "scaffolded" (z powodu ograniczeń czasowych) i zostały odpowiednio zmodyfikowane.
            Kod kontrolera dostaw został w całości napisany. 
            <br />
            Użyto również repozytoriów:
            <ul>
                <li>Dostaw - obsługujące w całości kontroler dostaw</li>
                <li>Laptopów - obsługujące w części kontroler laptopów</li>
            </ul>       
        </p>
        <br /><br />
        W folderze z zadania domowego 4 jest wersja kliencka sklepu, która jedynie po zmianie nazwy bazy danych w ConnectionStringu umożliwia "klientowi" na dokonanie zakupów.
    </div>



</div>
